<html>
<% var filepathprefix='' ; %>
  <% var pagepathprefix='pages/' ; %>
    <% include pages/_html_head %>

      <body>
        <div class="container">
          <% include pages/_header %>
            <h2>Full <a href="api/doc/html">API Documentation</a>
            </h2>
        </div>
        <!-- /container -->
      </body>

</html>