@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot?-rdnm34');
    src:url('../fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),url('../fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),url('../fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),url('../fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import "component.selectfx-select.less";
@import "component.selectfx-border.less";
@import "component.selectfx-circular.less";
@import "component.selectfx-elastic.less";
@import "component.selectfx-overlay.less";
@import "component.selectfx-rotate.less";
@import "component.selectfx-slide.less";
@import "component.selectfx-underline.less";
