<html>
<% var filepathprefix='../' ; %>
  <% var pagepathprefix='' ; %>
    <% include _html_head %>

      <body>
        <div class="container">
          <% include _header %>
            <section>
              <select class="cs-select cs-skin-overlay">
                <option value="" disabled selected>Select a Dinner</option>
                <optgroup label="Mediterranean Tastes">
                  <option value="1">Salmon Pecorino with Girolle Sauce</option>
                  <option value="2">Pan-fried Gnocci in Tomato Sauce</option>
                  <option value="3">Maple Glazed Potatoes in Truffle Reduction</option>
                  <option value="4">Tenderstem Broccoli in Artichoke Vinaigrette</option>
                </optgroup>
                <optgroup label="Nordic Refreshment">
                  <option value="5">Smoked Herring in Oyster Gel</option>
                  <option value="6">Broad Beans in Sea Rosemary Sauce</option>
                  <option value="7">Grilled Asparagus with Pickled Apple</option>
                  <option value="8">Cold-smoked Eel with Sea Purslane</option>
                </optgroup>
              </select>
            </section>
            <!-- /container -->
            <script>
            var SelectFX = window.SelectFX,
              selectElement;
            window.addEventListener('load', function() {
              selectElement = document.querySelector('select');
              new SelectFX(selectElement);
            }, false);
            </script>
      </body>

</html>